# FastAPI Settings
PROJECT_NAME="ZGenie API"

# MongoDB Settings
MONGODB_URI="mongodb://localhost:27017"
MONGODB_DB_NAME="zgenie"

# Firebase Settings
# Place your service account JSON file in the backend folder and reference it here
FIREBASE_CREDENTIALS_PATH="firebase-adminsdk.json"
